/* ShopPage.module.css */

.shopPage {
    background-color: #000;
    color: #fff;
    font-family: 'Arial', sans-serif;
    padding: 0;
    text-align: center;
    padding-top: 20px;
  }
  
  .shopPage h1 {
    font-size: 3rem;
    color: #fd01f5;
    margin-top: 40px;
  }
  
  .shopPage p {
    font-size: 1.5rem;
    color: #01fcfc;
  }
  
  .categoryButtons {
    margin-top: 20px;
  }
  
  .categoryButtons button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 1rem;
    border-radius: 5px;
    border: 2px solid #fd01f5;
    background-color: #000;
    color: #01fcfc;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease;
  }
  
  .categoryButtons button:hover {
    background-color: #fd01f5;
    color: black;
  }
  
  .imgGalleryContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
  }
  
  .imgGalleryItem {
    width: 250px;
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    transition: transform 0.3s ease-in-out;
  }
  
  .imgGalleryItem:hover {
    transform: scale(1.1);
  }
  
  .imgGalleryItem img {
    max-width: 100%;
    border-radius: 8px;
    transition: transform 0.3s ease;
  }
  
  .imgGalleryItem img:hover {
    transform: scale(1.05);
  }
  
  .floatGalleryContent {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 8px;
    display: none;
    justify-content: space-between;
    opacity: 0;
  }
  
  .imgGalleryItem:hover .floatGalleryContent {
    display: flex;
    opacity: 1;
  }
  
  .content {
    color: #fff;
  }
  
  .content a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .content a:hover {
    color: #fd01f5;
  }
  
  .contentBtn {
    align-self: center;
  }
  
  .contentBtn button {
    background-color: #fd01f5;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
  }
  
  .contentBtn button:hover {
    background-color: #7b68ee;
  }
  
  .toggleButtons {
    margin-bottom: 20px; /* Adds spacing between toggle buttons and category buttons */
}

.toggleButtons button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 1rem;
    border-radius: 5px;
    border: 2px solid #fd01f5;
    background-color: #000;
    color: #01fcfc;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease;
}

.toggleButtons button:hover {
    background-color: #fd01f5;
    color: black;
}

.toggleButtons .active {
    background-color: #fd01f5;
    color: black;
}
